## Passo a  passo

- Criar um DataFrame em branco p/ resultado final
- Replicar as colunas que existem nos arquivos Excel (11 colunas)
- Inserir duas colunas: Segmento e Pais
- Percorrer todos os arquivos, copiar os dados, colar na planilha final (passo 1) e preencher com as informações de segmento e pais
-

In [2]:
import os as os
import pandas as pd

In [3]:
arquivos = os.listdir("planilhas/planilhas").sort()

In [4]:
colunas = [
    "Segmento",
    "País",
    'Produto',
    'Qtde de Unidades Vendidas',
    'Preço Unitário',	
    'Valor Total',	
    'Desconto',
    'Valor Total c/ Desconto',
    'Custo Total',	
    "Lucro",	
    "Data",	
    "Mês",
    "Ano"]

dfFinal = pd.DataFrame(columns = colunas)
dfFinal.head()

Empty DataFrame
Columns: [Segmento, País, Produto, Qtde de Unidades Vendidas, Preço Unitário, Valor Total, Desconto, Valor Total c/ Desconto, Custo Total, Lucro, Data, Mês, Ano]
Index: []

In [5]:
arquivos = os.listdir("planilhas/planilhas")

for arq in arquivos:
    segmento,pais = arq.replace(".xlsx", "").split("-")
    df = pd.read_excel("planilhas/planilhas/{}".format(arq))

    df.insert(loc = 0, column = "Segmento", value = segmento)
    df.insert(loc = 1, column = "País", value = pais)
    dfFinal = pd.concat([dfFinal, df])

dfFinal.head()
dfFinal.shape
dfFinal.to_excel("planilhas/RelatorioFinal/Report-Final.xlsx", index = False, sheet_name = "Report Consolidade")

C:\Users\Airton\AppData\Local\Temp\ipykernel_12624\1790043191.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dfFinal = pd.concat([dfFinal, df])

In [6]:
dfFinal.head(-50)

,Segmento,País,Produto,Qtde de Unidades Vendidas,Preço Unitário,Valor Total,Desconto,Valor Total c/ Desconto,Custo Total,Lucro,Data,Mês,Ano
0,Governo,Alemanha,Produto 1,1321,20,26420,0.00,26420.00,14531.0,11889.00,2019-01-01,Janeiro,2019
1,Governo,Alemanha,Produto 1,1513,350,529550,0.00,529550.00,432718.0,96832.00,2019-12-01,Dezembro,2019
2,Governo,Alemanha,Produto 2,2146,7,15022,0.00,15022.00,10730.0,4292.00,2019-09-01,Setembro,2019
3,Governo,Alemanha,Produto 3,1006,350,352100,0.00,352100.00,261560.0,90540.00,2019-06-01,Junho,2019
4,Governo,Alemanha,Produto 3,1513,350,529550,0.00,529550.00,393380.0,136170.00,2019-12-01,Dezembro,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,Vendas online,Chile,Produto 1,562,12,6744,404.64,6339.36,1854.6,4484.76,2019-09-01,Setembro,2019
6,Vendas online,Chile,Produto 1,727,12,8724,610.68,8113.32,2399.1,5714.22,2019-02-01,Fevereiro,2019
7,Vendas online,Chile,Produto 2,2340,12,28080,1965.60,26114.40,7020.0,19094.40,2019-01-01,Janeiro,2019
8,Vendas online,Chile,Produto 3,2763,12,33156,2320.92,30835.08,8289.0,22546.08,2018-11-01,Novembro,2018
9,Vendas online,Chile,Produto 6,1375,12,16500,1320.00,15180.00,4125.0,11055.00,2018-12-01,Dezembro,2018

In [7]:
dfFinal["Segmento"]

0           Governo
1           Governo
2           Governo
3           Governo
4           Governo
          ...
15    Vendas online
16    Vendas online
17    Vendas online
18    Vendas online
19    Vendas online
Name: Segmento, Length: 700, dtype: object

In [8]:
dfGrupo = dfFinal.groupby(["Segmento", "País", "Produto"])[["Lucro"]].sum()
dfGrupo.head(-50)

                                          Lucro
Segmento          País     Produto
Governo           Alemanha Produto 1  159505.40
                           Produto 2  370674.27
                           Produto 3  483540.49
                           Produto 4  674593.32
                           Produto 5  404766.71
...                                         ...
Pequenas empresas Alemanha Produto 6   55146.00
                  Canadá   Produto 1  -27620.00
                           Produto 2  120815.50
                           Produto 3  237603.00
                           Produto 4   89402.50

[100 rows x 1 columns]

In [9]:
dfGrupo.to_excel("planilhas/RelatorioFinal/Report-Grupos.xlsx", index = True, sheet_name = "Report Consolidade")

PermissionError: [Errno 13] Permission denied: 'planilhas/RelatorioFinal/Report-Grupos.xlsx'

In [ ]:
dfFinal.to_excel("planilhas/RelatorioFinal/Report-Final.xlsx", index = False, sheet_name = "Report Consolidade")